@import 'tailwindcss';

@layer base {
  * {
    border-color: hsl(var(--border));
  }
  
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }

  .dark {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }

  .dark * {
    border-color: hsl(var(--border));
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}